* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(to right,rgb(241, 209, 153),rgb(217, 174, 143)); */
  background-size: 65vw;
  background-repeat: no-repeat;
  background-position: 100vh;
  /* background-size:contain; */
  background-image: url(./images/detective-1424831_1280.png);
  background-color: rgb(251, 237, 220);
}

.container {
  text-align: center;
  padding: 3vh;
}

input {
  margin-top: 5%;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
button {
  background-color: rgb(255, 42, 0);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

img {
  width: 10%;
  padding-top: 10px;
}

h2 {
  color: red;
}
#guess {
  color: rgb(8, 247, 8);
  font-size: 40px;
  font-style: oblique;
  font: optional;
}
#span {
  font-size: 2rem;
  color: rgb(223, 18, 18);
  font-weight: 900;
}
h1 {
  color: red;
  font-size: 3rem;
}
#box {
  height: 50px;
  border-radius: 50px;
}
#btn {
  height: 60px;
  border-radius: 50px;
  width: 90px;
}
